body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Navbar css */
nav{
  background-color:#118c57;
  display:flex;
  justify-content:space-evenly;
  align-item:center;
  padding:10px;
  margin-bottom: 2%;
}
nav a{
  text-decoration:none;
  color:#f0f0f0;
 
}

.logo{
  color:#f0f0f0;
  font-size:34px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.element{
margin:auto;
  margin-right: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.element a{
  margin:0px 20px 0px 20px;
  transition: 0.3s;
}
.element a:hover{
  color:#a5f3c0;
  font-size:20px;
}

.logout{
  padding-right:10px;
  margin : auto 0px auto 0px;
}

/* Sign In /SIgn Up */
.nav{
  background-color: #118c57;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.nav h1{
  padding: 0px;
  margin: 0px;
  color: #f0f0f0;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.signUp{
  text-align: center;
  width: 80%;
}
.img{
  align-items: flex-end;
}

.img img{
  text-align: center;
  height: 60vh;
  padding: 20px;
  margin-right:40px;
}

.container form input{
  width: 55%;
  padding: 10px;
  margin: 10px;
}

.signUp h2{
 color: #118c57;
 font-size: 2em;
}
button{
  width: 15%;
  padding: 10px;
  margin: 10px;
  background-color: #118c57;
  border:none;
  color: #fff;
  font-weight: bold;
}
.alreadySingInUp{
  color: #118c57;
  text-decoration: none;
  font-weight: bold;
}
.bottomForm{
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Cart and Order Screen */
table{
  border: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;

}
.table{
  padding: 2% 4%;
  background-color: rgb(174, 174, 174);
  height: 80vh;
}
.firstItem{
  text-align: left;
}
.indexNo{
  font-weight: bold;
  font-size: 1.4rem;
}
th {
  background-color: blue;
  color: #f0f0f0;
  padding: 10px;
  font-size: 1.2em;
}
td{
  font-size: 1.1rem;
  padding: 10px;
}
tr {
  background-color: aqua;
  color: #000;
}
.orderBtnDiv{
  display: flex;
  justify-content: flex-end;
  margin-top:2% ;
}
.orderBtn{
  width: 20%;
  padding: 15px;
  font-size: 1.3rem;
}

/* Home page */
.homepage h1{
  text-align: center;
}

/* Product Card */
.productCard{
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  background-color: yellow;
  width:max-content;
}
.product{
  width: 250px;
  height: 150px;
}

.productDes{
  display: flex;
  justify-content: space-between;
}
.card{
  background-color: gray;
  padding: 5px;
  margin: 20px;
}


/* Order View */
.orderview{
  padding: 10px;
  background-color: grey;
  height: 100%;
}
.orderview table{
  border-collapse: separate;
  border-spacing: 0 15px;
}
.orderview td{
  padding: 15px;
}
.orderview th{
  padding: 25px;
}

/*Add Product*/

.editDel{
  display: flex;
  justify-content: center;
}
.editDel img{
  padding: 4px;
}
.tablular{
  display: inline-block;
  width: 70%;
}
.tablular table{
  border-collapse: separate;
  border-spacing: 0 15px;
  padding: 4%;
}
.form{
  display: inline-block;
  position: fixed;
  width: 30%;
  text-align: center;
  align-items: center;
  padding-top: 25px;
  background-color:gray ;
  top: 20%;
}

.form input{
  padding: 14px;
  width: 80%;
  margin: 10px;
}

.form button{
  width: 50%;
  padding: 10px;
}
.prodImg{
  height:80px;
  width: 100px;
}

/* Order View */

.orderView{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-self: center;
}

.productDetailsContainer{
  margin-left: 20%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bolder;
  background-color: #f0f0f0;
}

.productDetailsContainer .button{
  width: 50%;
  background-color: green;
}

/* Edit product */
.editProduct{
  display: flex;
}